{
  "plugins": ["prettier-plugin-solidity"],
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "trailingComma": "all",
  "embeddedLanguageFormatting": "off",
  "overrides":
    [
      {
        "files": "*.sol",
        "options":
          {
            "printWidth": 100,
            "tabWidth": 4,
            "useTabs": true,
            "singleQuote": false,
            "bracketSpacing": false,
          },
      },
    ],
}

